@font-face {
  font-family: 'open_sansregular';
  src: url('./font/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
       url('./font/opensans-variablefont_wdthwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'open_sansbold';
  src: url('./font/opensans-bold-webfont.woff2') format('woff2'),
       url('./font/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "open_sansregular";
}
body{
  font-family: "open_sansregular";
  color: #333;
}
.App {
  text-align: center;
}
h1{
  font-family: "open_sansbold";
  font-size: 48px;
  line-height: 65px;
}
h2, h3{
  font-family: "open_sansregular";
  font-size: 42px;
  line-height: 57px;
}
 h4{
  font-family: "open_sansregular";
  font-size: 36px;
  line-height: 49px;
}
 h5{
  font-family: "open_sansregular";
  font-size: 28px;
  line-height: 38px;
}
 h6{
  font-family: "open_sansregular";
  font-size: 24px;
  line-height: 33px;
}
 p{
  font-family: "open_sansregular";
  font-size: 16px;
  line-height: 22px;
}
 span,  a{
  font-family: "open_sansregular";
  font-size: 14px;
  line-height: 19px;
}
button{
  height: 40px;
  font-family: "open_sansregular";
  font-size: 14px;
  line-height: 19px;
}
table, th, td, tr {
  border:1px solid black !important;
  padding: 10px;
}